// customizations
$theme-colors: (
    // "primary": tomato
);

@import "~bootstrap/scss/bootstrap";


@media only screen and (max-width: 575px) {
    .drum-keyboard {
        order: 1;
    }
    .drum-controls {
        order: 0;
    }
}


.drum-container {
    --drum-container-width: 240px;
    --drum-container-height: 200px;
    --drum-keyboard-width: 73px;
    --drum-keyboard-height: 60px;

    font-family: 'Raleway', Helvetica, sans-serif;
}
.drum-keyboard-container,
.drum-control-container {
    width: var(--drum-container-width);
    height: var(--drum-container-height);
}
.drum-keyboard__btn {
    width: var(--drum-keyboard-width);
    height: var(--drum-keyboard-height);
    font-weight: 600;
}