// customizations
$theme-colors: (
    // "primary": tomato
);

@import "~bootstrap/scss/bootstrap";


@media only screen and (max-width: 575px) {
    .drum-pad-wrapper {
        order: 1;
    }
    .drum-control-wrapper {
        order: 0;
    }
}


.drum-container {
    --drum-container-width: 240px;
    --drum-container-height: 200px;
    --drum-pad-width: 73px;
    --drum-pad-height: 60px;

    font-family: 'Raleway', Helvetica, sans-serif;
}
.drum-pad-container,
.drum-control-container {
    width: var(--drum-container-width);
    height: var(--drum-container-height);
}
.drum-pad {
    width: var(--drum-pad-width);
    height: var(--drum-pad-height);
    font-weight: 600;
}